@import url("https://fonts.cdnfonts.com/css/gmarket-sans");

body {
  font-family: "Gmarket Sans", sans-serif;
  background-color: #ebebeb;
}

#container {
  width: 800px;
  margin: 40px auto;
  padding: 45px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  border-radius: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 46px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  border-bottom: 1px dashed rgb(158, 158, 158);
}

#expense-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 10px;
}

#expense-form div {
  display: flex;
  justify-content: space-between;
}

#expense-form input {
  font-family: "Gmarket Sans", sans-serif;
  height: 30px;
}
#expense-form #date {
  width: 140px;
  text-align: center;
}
#expense-form #category {
  font-family: "Gmarket Sans", sans-serif;
  text-align: center;
  width: 145px;
}

#submit-btn.patch {
  padding: 10px 24px;
  font-family: "Gmarket Sans", sans-serif;
  font-size: 14px;
  outline: none;
  color: #fff;
  border-radius: 40px;
  background: #5dc8cd;
  border: 2px solid #5dc8cd;
  font-weight: bold;
  cursor: pointer;
}

#submit-btn.patch:hover {
  background: #fff;
  color: #5dc8cd;
}

#submit-btn.patch:active {
  background: #fff;
  border-color: #01939a;
}

#submit-btn {
  padding: 10px 24px;
  font-family: "Gmarket Sans", sans-serif;
  font-size: 14px;
  outline: none;
  color: #fff;
  border-radius: 40px;
  background: #ffaa40;
  border: 2px solid #ffaa40;
  font-weight: bold;
  cursor: pointer;
}

#submit-btn:hover {
  background: #fff;
  color: #ffaa40;
}

#submit-btn:active {
  background: #fff;
  border-color: #ff8e00;
}

.list-section {
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-size: 24px;
}

.total-container div {
  display: flex;
  gap: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 30px;
}

.list-nav {
  display: flex;
  justify-content: space-between;
}

.list-nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(158, 158, 158);
}

.sort-list span:hover {
  cursor: pointer;
  font-weight: 600;
  color: rgb(255, 0, 0);
}

.sort-list span.active {
  color: rgb(255, 0, 0);
}

#category-filter {
  font-family: "Gmarket Sans", sans-serif;
  min-width: 90px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

#total-amount {
  font-weight: 500;
  color: rgb(216, 23, 23);
}

#category-stats-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.expense-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.expense-table th {
  height: 30px;
  font-weight: 600;
}

.expense-table th,
td {
  padding: 10px 0;
  vertical-align: middle;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.edit-btn {
  background: inherit;
  border: none;
  box-shadow: none;
  padding: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.edit-btn:hover {
  transform: scale(1.3);
}

.btn-icon {
  width: 24px;
  height: 24px;
}

#category-stats-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.category-stats {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  gap: 8px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
}

.category-stats span {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.category-stats-index {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  gap: 8px;
}

.category-stats-index span {
  display: flex;
  height: 30px;
  width: 100%;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.category-name {
  background-color: #87d37c;
  color: #fff;
  font-weight: 600;
  z-index: 200;
}

/* 에러 / 성공 메세지 Toast 표시 */
#toast {
  visibility: hidden; /* 초기 숨김 */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed; /* 화면 고정 */
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

#toast.show {
  visibility: visible; /* 보임 */
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s; /* 3초 후 숨김 애니메이션 */
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
